{% extends 'shop/base.html' %}

{% load static %}


{% block content %}
<!-- carousel--------------------------------------------->
<!-- banner -->
<body>
	

	 <!-- Banner Section Start -->
	 <section class="banner--section">
		<!-- Banner Slider Start -->
		<div class="banner--slider owl-carousel" data-owl-dots="true" data-owl-dots-style="2">
			<!-- Banner Item Start -->
			<div class="banner--item" data-bg-img="static/img/mombasa.jpg" data-overlay="0.15">
				<div class="vc--parent">
					<div class="vc--child">
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<!-- Banner Content Start -->
									<div class="banner--content pt--70 pb--80 text-center">
										<div class="title">
											<h1 class="h1 text-lightgray">Ni Gumzo Mtaani</h1>
										</div>

										<div class="sub-title">
											<h2 class="h2 text-lightgray">Connect, Share &amp; Engage</h2>
										</div>

									

										<div class="action text-uppercase">
											<a href="/accounts/register "  class="btn btn-white">Sign Up</a>
											<a href="/accounts/login" class="btn btn-primary">Sign In</a>
										</div>
									</div>
									<!-- Banner Content End -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Banner Item End -->

			<!-- Banner Item Start -->
			<div class="banner--item" data-bg-img="static/img/nairobi.jpg"  data-overlay="0.15">
				<div class="vc--parent">
					<div class="vc--child">
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<!-- Banner Content Start -->
									<div class="banner--content pt--70 pb--80 text-center">
										<div class="title">
											<h1 class="h1 text-lightgray">Ni Gumzo Mtaani</h1>
										</div>

										<div class="sub-title">
											<h2 class="h2 text-lightgray">Connect, Share &amp; Engage</h2>
										</div>

									

										<div class="action text-uppercase">
											<a href="/accounts/register "  class="btn btn-white">Sign Up</a>
											<a href="/accounts/login" class="btn btn-primary">Sign In</a>
										</div>
									</div>
									<!-- Banner Content End -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Banner Item End -->

			<!-- Banner Item Start -->
			<div class="banner--item" data-bg-img="static/img/kisumu.jpg"  data-overlay="0.15">
				<div class="vc--parent">
					<div class="vc--child">
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<!-- Banner Content Start -->
									<div class="banner--content pt--70 pb--80 text-center">
										<div class="title">
											<h1 class="h1 text-lightgray">Ni Gumzo Mtaani</h1>
										</div>
										<br><br><br><br> <br> <br>
										<div class="sub-title">
											<h2 class="h2 text-lightgray">Connect, Share &amp; Engage</h2>
										</div>

									

										<div class="action text-uppercase">
											<a href="/accounts/register "  class="btn btn-white">Sign Up</a>
											<a href="/accounts/login" class="btn btn-primary">Sign In</a>
										</div>
									</div>
									<!-- Banner Content End -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Banner Item End -->
		</div>
		<!-- Banner Slider End -->
	</section>
	<!-- Banner Section End -->
</body>
 {% endblock %}